@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    background-image: url();
}

.main-bg-img{
    opacity: 0.87;
}

.main-text{
    text-shadow: 4px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
    letter-spacing: 3px;
}